[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dataflows = "*"
pandas-datapackage-reader = "*"
gunicorn = "*"
hypercorn = "*"
pandas = ">=1.5"
flask-cors = "*"
markupsafe = "*"
pillow = "*"

[requires]
