[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dataflows = "*"
pandas-datapackage-reader = "*"
flask-api = "*"
gunicorn = "*"
hypercorn = "*"
pandas = "*"
flask-cors = "*"
MarkupSafe = "==1.1.1"
numpy = "*"
Werkzeug = "==0.16.1"
Jinja2 = "==2.11.3"

[requires]
