@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Variable.ttf') format('woff2')
}

:root {
  --primary: #1e90ff;
  --gray3: #565656;
  --gray2: #9a9a9a;
  --gray1: #dfdfdf;
  --black: #020202;
  --black25: rgba(0, 0, 0, 0.25);
  --white: #fff;
  --white25: rgba(255, 255, 255, 0.25);

  --spacing-xs: 0.1rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 1rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 2rem;
}

body {
  font-family: "Switzer", monospace;
  font-weight: 340;
  font-optical-sizing: auto;
  background-color: var(--gray1) !important;
  color: var(--black);
  margin: 0;
  padding: 0;
}

.top {
  padding: 0;
  margin: 0;
}

.page-header {
  padding: var(--spacing-lg);
  background-color: var(--white);
}

h1.page-title {
  font-size: var(--spacing-xl);
  padding: var(--spacing-md) 0;
}

h1.page-title a {
  color: var(--black);
  text-decoration: none;
}

b,
strong {
  font-weight: 600;
}

/*   new navigation styles   */
.flex-container {
  display: flex;
  align-items: baseline;
}

.btn_bildarchiv {
  color: black;
  padding: var(--spacing-md) var(--spacing-lg);
  cursor: pointer;
  border: 1px solid transparent;
  border-top-left-radius: var(--spacing-sm);
  border-top-right-radius: var(--spacing-sm);
  display: inline-block;
}

.btn_bildarchiv:hover {
  background-color: rgb(210, 210, 210);
  border: solid 1px var(--white);
  color: black;
}

.btn_bildarchiv.active {
  background-color: var(--white);
}

.btn_reset {
  color: var(--white) !important;
  cursor: pointer;
  padding: var(--spacing-md); var(--spacing-lg);
}

.auswahl {
  font-weight: 500;
  margin-left: auto;
}

.anzeige {
  margin-top: 0.5em;
  margin-right: auto;
  text-align: center;
}

.anzeige .btn_bildarchiv {
  background-color: rgb(255, 255, 255);
  padding: var(--spacing-sm); var(--spacing-lg);
  border-radius: var(--spacing-sm);;
  height: var(--spacing-xl);
  box-sizing: border-box;
  vertical-align: text-top;
}

.anzeige .btn_bildarchiv.ghost {
  background-color: transparent;
  border: none;
}

.disable {
  cursor: default;
  opacity: 0.25;
}

.hidden {
  display: none;
}

.anzeige .btn_container {
  padding: 0;
  display: inline-block;
  position: relative;
}

.anzeige .btn_container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  border: none;
}

.anzeige .btn_container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* Makes the icon non-interactive */
}

/* end new navigation styles */

#anderes input[type="text"] {
  display: block;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-md);
  font-size: var(--spacing-lg);
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray3);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--gary1);
  border-radius: var(--spacing-sm);
}

#anderes .form-check-input {
  border: 1px solid green;
  padding: 0;
}


/*  */

input[type="checkbox"].check {
  font-size: var(--spacing-xl);
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--spacing-lg);
}

.clusterize-content {
  background: var(--white);
  margin-left: var(--spacing-sm);
  color: var(--gray2);
}

#total {
  padding: 0 0.4em;
}

.tab-content h5.group-title {
  display: flex;
  justify-content: start;
  align-content: start;
  border-radius: var(--spacing-sm);
  background-color: var(--white25);
  margin: var(--spacing-lg) 0 var(--spacing-md) 0;
  line-height: var(--spacing-lg);
}

h5.group-title label {
  width: 100%;
  margin-bottom: 0;
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md) 0;
  cursor: pointer;
}

h5.group-title input[type="checkbox"] {
  margin: var(--spacing-lg) var(--spacing-sm) var(--spacing-lg) var(--spacing-md);
}

.nav-tabs {
  font-weight: 600;
  margin-top: var(--spacing-xl);
  border-bottom: 1px solid var(--white);
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
  transition: all ease 0.2s;

}


.nav-tabs .nav-link:hover {
  border: none;
  background-color: var(--white25);
}

.nav-tabs .nav-link.active:hover {
  border: none;
  background-color: var(--white);
}

.form-group .form-check {
  padding-bottom: 0.5em;
  opacity: 0.9;
}

.form-group .form-check:hover {
  opacity: 1.0;
}

.form-check label:hover {
  cursor: pointer;
}

.count {
  font-weight: 500;
  vertical-align: var(--spacing-xs);
}

/*
.form-group .form-check-input + label {
  border: 1px solid transparent;
}

.form-group .form-check-input:checked + label {
  border: 1px solid blue;
}

.form-group .form-check-input:hover + label {
  background-color: blue;
}
*/
button#back {
  float: right;
}

#spinnerModal span {
  font-size: 200%;
  font-weight: bold;
  color: blue;
}

#selection {
  margin: 1em 0;
  text-align: center;
}

#selection span {
  color: #333;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  display: inline-block;
}

#results .container,
#savedList .container {
  margin-top: 1em;
  padding-top: 1em;
}

#results .item,
#savedList .item {
  padding: 12px;
}

#results .item img,
#savedList .item img {
  box-shadow: var(--black25) 0px 50px 100px -20px, var(--black25) 0px 30px 60px -30px;
  max-width: 100%;
  transition: transform ease 0.2s;
}

#results .item img:hover,
#savedList .item img:hover {
  transform: scale(1.02);
}

.list-actions,
.empty-state {
  width: 100%;
  border-radius: var(--spacing-sm);
  padding: var(--spacing-sm);
  background-color: var(--white25);
  margin-bottom: var(--spacing-lg);
}

.empty-state {
  text-align: center;
  margin: 0 15px;
  padding: var(--spacing-lg);
}


#details {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: none;
}

#details .image {
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.pagination {
  width: 100%;
  text-align: center;
  padding: 1em;
  display: block;
}

.pagination .btn_bildarchiv {
  border-radius: var(--spacing-sm);
}

.Nummer,
.Techniken {
  margin-right: 2em;
}

.Nummer::before {
  content: '['
}

.Nummer::after {
  content: ']'
}

.Techniken sm {
  font-size: 80%;
  background: #eee;
  color: #333;
  padding: 0.2em 0.4em;
}

#footer .row {
  font-size: 80%;
  text-align: center;
}

/* ---------------------------- */
/* styles for title list search */
#_contentArea>div:nth-of-type(odd) {
  background: #eee;
}

#contentAreaYear>div:hover,
#contentAreaTitle>div:hover {
  cursor: pointer;
  background: #eee;
}

#contentAreaYear,
#contentAreaTitle {
  padding-left: .1em;
}

/* Lightbox */
.js-gallery .lg-backdrop {
  background-color: var(--gray1);
}

.js-gallery .lg-counter,
.js-gallery .lg-toolbar .lg-close,
.js-gallery .lg-sub-html {
  color: black;
}