@font-face {
  font-family: 'Switzer';
  src: url('fonts/Switzer-Variable.ttf') format('woff2')
}

body {
  margin-top: 1em;
  font-family: "Switzer", monospace;
  font-weight: 340;
  font-optical-sizing: auto;
  background-color: #bbb !important;
  color: #000;
}

h1.page-title {
  font-size: 2rem;
  padding: 0.4rem 0;
}

.anleitung-infoblock {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: .5rem;
  padding-top: .5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.anleitung-infoblock button {
  margin-top: 0.4rem;
  float: right;
}

.anleitung-infoblock ul {
  margin-left: 0em;
  padding-left: 1rem;
}

.anleitung-infoblock li {
  margin: 0 .25rem 0 0;
}

/*   new navigation styles   */
.flex-container {
  display: flex;
  align-items: baseline;
}

.btn_bildarchiv {
  color: black;
  padding: .5rem 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display: inline-block;
}

.btn_bildarchiv:hover {
  background-color: rgb(210, 210, 210);
  border: solid 1px #fff;
  color: black;
}

.btn_bildarchiv.active {
  background-color: #fff;
}

.btn_reset {
  color: #fff !important;
  cursor: pointer;
  padding: .5rem 1rem;
}

.auswahl {
  font-weight: 500;
  margin-left: auto;
}

.anzeige {
  margin-top: 0.5em;
  margin-right: auto;
  text-align: center;
}

.anzeige .btn_bildarchiv {
  background-color: rgb(255, 255, 255);
  padding: .25rem 1rem;
  border-radius: .25rem;
}

.disable {
  cursor: default;
  opacity: 0.25;
}

.hidden {
  display: none;
}

/*.kategorien { }*/

/* end new navigation styles */

#anderes input[type="text"] {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

#anderes .form-check-input {
  border: 1px solid green;
  padding: 0;
}

.clusterize-content {
  background: #fff;
  margin-left: 5px;
  color: #555;
}

#total {
  padding: 0 0.4em;
}

.tab-content h5 {
  margin-top: 1em;
}

.nav-tabs {
  font-weight: 600;
  margin-top: 2.5rem;
  border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border: none;
  transition: all ease 0.2s;

}


.nav-tabs .nav-link:hover {
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
}
.nav-tabs .nav-link.active:hover {
  border: none;
  background-color: #fff;
}

.form-group .form-check {
  padding-bottom: 0.5em;
  opacity: 0.9;
}

.form-group .form-check:hover {
  opacity: 1.0;
}

.form-check label:hover {
  cursor: pointer;
}

.count {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background: transparent;
  color: #fff;
}

/*
.form-group .form-check-input + label {
  border: 1px solid transparent;
}

.form-group .form-check-input:checked + label {
  border: 1px solid blue;
}

.form-group .form-check-input:hover + label {
  background-color: blue;
}
*/
button#back {
  float: right;
}

#spinnerModal span {
  font-size: 200%;
  font-weight: bold;
  color: blue;
}

#selection {
  margin: 1em 0;
  text-align: center;
}

#selection span {
  color: #333;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  display: inline-block;
}

#results .container {
  margin-top: 1em;
  padding-top: 1em;
}

#results .item {
  padding: 12px;
}

#results .item img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  max-width: 100%;
  transition: transform ease 0.2s;
}

#results .item img:hover {
  transform: scale(1.02);
}

#details {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: none;
}

#details .image {
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.pagination {
  width: 100%;
  text-align: center;
  padding: 1em;
  display: block;
}

.pagination button {
  font-size: 200%;
}

.Nummer,
.Techniken {
  margin-right: 2em;
}

.Nummer::before {
  content: '['
}

.Nummer::after {
  content: ']'
}

.Techniken sm {
  font-size: 80%;
  background: #eee;
  color: #333;
  padding: 0.2em 0.4em;
}

#footer .row {
  font-size: 80%;
  text-align: center;
}

/* ---------------------------- */
/* styles for title list search */
#_contentArea>div:nth-of-type(odd) {
  background: #eee;
}

#contentAreaYear>div:hover,
#contentAreaTitle>div:hover {
  cursor: pointer;
  background: #eee;
}

#contentAreaYear,
#contentAreaTitle {
  padding-left: .1em;
}

/* Lightbox */
.js-gallery .lg-backdrop {
  background-color: #bbb;
}

.js-gallery .lg-counter,
.js-gallery .lg-toolbar .lg-close,
.js-gallery .lg-sub-html {
  color: black;
}